@import './../variables.scss';

.poetry-content {
    .poetry-lines {
        color: $normal-text-color;
        font: 20px/30px 'Open Sans Regular';
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}


.footer-content {
    padding: 30px 0 0;
    display: flex;
    justify-content: space-between;

    .not-found {
        color: #fd3a69;
        font: 16px/50px 'Open Sans Regular';
        width: 25%;
    }

    .action-btn {
        width: 230px;
    }
}

